<ul>
  <% for (const { valid, name, isDir, size, created, modified } of files) { %>
    <% const title = (isDir ? 'C' : `${size} b; c`) + `reated ${created.toLocaleString()}, modified ${modified.toLocaleString()}` %>
    <li>
      <% if (isDir) { %>
        <details data-dir="<%= baseUrl %><%= name %>/" ontoggle="window.onToggle(this)">
          <summary>
            <a href="<%= baseUrl %><%= name %>/" title="<%= title %>">
              <%= name %>
            </a>
          </summary>
        </details>
      <% } else { %>
        <% if (valid) { %><a href="<%= baseUrl %><%= name %>" title="<%= title %>"><% } %>
          <%= name %>
        <% if (valid) { %></a><% } %>
      <% } %>
    </li>
  <% } %>
</ul>
